@import './materialize';

// Vars
$header-bg: url(../img/pexels-photo-247791.png);
// $header-bg: url(../img/pattern.png);
$header-height: 270px;

// Text color function; chooses B or W text based on BG Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return $text-color;
  }
}

.brand-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
}

.btn-flat {
  color: $primary-color;
  font-weight: 500;
}

.nav-wrapper {
  margin-left: 80px;
  margin-right: 80px;
}

.main-header {
  color: white;
  height: $header-height;
  width: 100%;
  margin-bottom: 30px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/pexels-photo-247791.png);
  position: relative;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.8em;
    font-weight: 100;
    margin: 0;
    padding-top: 30px;
  }
}

h3,
h4 {
  font-weight: 300;
}

h5 {
  color: $text-color;
}

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.card-content {
  color: $primary-color;
}

// Floor Fade to increase card title contrast
.card-title {
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );
  position: relative;
  width: 100%;
  font-family: 'Raleway', sans-serif !important;
}

// Changes the background color of tooltips
.backdrop {
  background-color: $primary-color;
}

.desc {
  line-height: 1.7rem;
  font-size: 1.2em;
}

.page-footer {
  background: $secondary-color;

  .footer-copyright {
    background: $secondary-color-light;
  }
}

.modal {
  background: $modal-bg-color;
}

.modal-footer {
  background-color: darken($modal-bg-color, $amount: 5) !important;
  // Move modal dismiss btn 25px to the left
  padding-right: 1.5625rem !important;
}

.toast {
  background: rgba(130, 240, 248, 0.45);
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7 {
  opacity: 0;
}

.sidenav-header {
  padding-top: 20px;
  padding-bottom: 10px;
}

// Changes font for 1st modal only
#slw {
  font-family: 'Raleway', sans-serif;
}

// Media queries for small viewports
@media #{$small-and-down} {
  .banner {
    font-size: 2em !important;
  }
  .sub-banner {
    font-size: 1.5em !important;
  }
  .main-header {
    height: 180px;
  }
}
