:root {
    --bg-color:rgba(255, 193, 7, .4);
  /* --bg-color: rgba(224, 82, 82, 0.7); */
  --bg-url: url('../img/paint-1.jpg');
  /* --bg-url: url('../img/designer.jpg'); */
  --button-hover-color: rgba(161, 11, 11, 0.3);
}

/* Headshot transformation effect */
#portrait:hover {
  transition: 0.5s;
  height: 150px;
  width: 150px;
  z-index: 500;
}

.connect {
  height: 35px;
  width: 35px;
}

.btn-floating:hover {
  background-color: goldenrod !important;
}

.e-link:hover {
  transition: 0.5s;
  font-size: 1.3em;
}

.container-portfolio {
  margin-top: 50px;
}

#logo {
  text-shadow: 1.5px 1.5px #0c0c0c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #2979ff;
  /* background: #ef5350; */
}

main {
  flex: 1 0 auto;
}

h1 {
  font-size: 3rem;
  color: #fff;
  white-space: nowrap;
}

h5 {
  font-size: 1.4rem;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1.5px 1.5px #0c0c0c;
}

.toast {
  background: rgba(255, 193, 7, .5);
  font-size: 1em;
  margin-top: 17px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 44%;
  left: 30%;
}

a {
  color: #fff !important;
  text-decoration: none;
}

button {
  text-transform: uppercase;
  padding: 1em 2em;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: #FFF;
  border: 0.2rem #FFF solid;
  box-shadow: 1.5px 1.5px #0c0c0c;
  text-shadow: 1.5px 1.5px #0c0c0c;
}

button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  cursor: pointer;
}

.nav-wrapper {
  font-size: 2em;
}

.navBar {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.split {
  transition: all 1s ease;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(var(--bg-color), var(--bg-color)) repeat-x top / 100% 100%, var(--bg-url) center center no-repeat / cover;
}

.left {}

.right {
  --bg-color: rgba(43, 43, 43, 0.8);
  --bg-url: url('../img/pexels-photo-177598.jpeg');
  /* --bg-url:url('../img/programmer.png'); */
  --button-hover-color: rgba(92, 92, 92, 0.3);
}

.split:hover {
  flex-grow: 10;
}

.container-portfolio {
  padding-left: 10px;
  padding-right: 10px;
}

@media(max-width:500px) {
  .container {
    flex-direction: column;
  }
}

/* Media Queries */

@media screen and (max-width:980px) {}

@media screen and (max-width:768px) {
  #logo {
    font-size: .6em !important;
  }
  .page-footer {
    font-size: .8em !important;
  }
}

@media (max-width: 699px) {
  #logo {
    font-size: .4em !important;
  }
  .page-footer {
    font-size: .6em !important;
  }
}